@import '../utilities/helpers';
@import '../utilities/variables';

// buttons styles

.ui.button {

	&.basic {
		width: 6rem;
		color: #555 !important;
		border-bottom: 4px solid #b2b1b1;
		text-shadow: 0px 1px 0px #fafafa !important;
		background: #eee !important;
		background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#e2e2e2));
		background: -moz-linear-gradient(top, #eee, #e2e2e2);
		box-shadow: inset 1px 1px 0 #f5f5f5;

		&:hover,
		&:focus {
			background: -webkit-gradient(linear, left top, left bottom, from(#e2e2e2), to(#eee)) !important;
		}
	}

  &.submit {
		width: 100%;
	}
}
