<template name="editor">
	{{#if noContent}}
		<h2>Create Content</h2>
	  <div class="ui form">
			<div class="field">
			  <textarea name="edit" class="create content"></textarea>
			</div>
		  <div class="action">
				<div class="ui positive create button">Create</div>
			</div>
		</div>
	{{else}}
		<h2>Edit Content</h2>
		<div class="ui form">
			<div class="field">
				{{#each contents}}
					<textarea name="edit" class="edit content">{{post}}</textarea>
				{{/each}}
			</div>
		  <div class="action">
				<div class="ui positive edit button">Update</div>
			</div>
		</div>
	{{/if}}
</template>
