<template name="hero">
  <div class="ui two column page grid">
    <div class="content column">
      <img class="ui small left floated image" src="http://placehold.it/320x400" />
      <p>80 days around the world, we'll find a pot of gold just sitting where the rainbow's ending. Time - we'll fight against the time, and we'll fly on the white wings of the wind. 80 days around the world, no we won't say a word before the ship is really back. Round, round, all around the world.</p>
      <p>I never spend much time in school but I taught ladies plenty. It's true I hire my body out for pay, hey hey. I've gotten burned over Cheryl Tiegs, blown up for Raquel Welch. But when I end up in the hay it's only hay, hey hey. I might jump an open drawbridge, or Tarzan from a vine. 'Cause I'm the unknown stuntman that makes Eastwood look so fine.</p>
    </div>
    <div class="form column">
      {{> subscribe}}
    </div>
  </div>
</template>
