<template name="hero">
  <div class="ui hero two column grid">
    <div class="content column">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
      <img class="ui centered image" src="http://placehold.it/400x250" />
    </div>
    <div class="form column">
      {{> subscribe}}
    </div>
  </div>
</template>
