<template name="layout">
  <main class="ui layout">
    <header class="header">
      {{#if notAdmin}}
        {{> header}}
      {{/if}}
      {{#if currentUser}}
        {{> adminWidget}}
      {{/if}}
      {{> flashMessages}}
    </header>
    {{#if notAdmin}}
      <section class="ui hero vertical animated fadeIn segment">
        {{> hero}}
      </section>
    {{/if}}
    <section class="ui yield stackable page grid">
      <div class="view column body">
        {{> yield}}
      </div>
    </section>
    {{#if notAdmin}}
      <footer class="footer">
        {{> footer}}
      </footer>
    {{/if}}
  </main>
</template>
