<template name="admin">
	<div class="animated fadeIn admin">
	  <div class="ui active animated fadeIn tab segment" data-tab="first">
			{{> editor}}
	  </div>
	  <div class="ui animated fadeIn tab segment" data-tab="second">
				<h2>Settings</h2>
			<section class="general">
				<h3>General</h3>
				<hr>
				<div class="ui form">
	  			<div class="field">
	    			<label>Title</label>
	    			<input type="text">
	  			</div>
				</div>
			</section>
			<section class="newsletter">
				<h3>Newsletter</h3>
				<hr>
				<div class="inline field">
					Enable Newsletter
			    <div class="ui toggle checkbox">
			      <input type="checkbox">
			      <label>Yes</label>
	    		</div>
  			</div>
				<div class="ui form">
					<div class="field">
						<label>MailChimp API Key</label>
						<input type="text">
					</div>
				</div>
				<div class="ui form">
					<div class="field">
						<label>MailChimp List ID</label>
						<input type="text">
					</div>
				</div>
			</section><!--newsletter-->
	  </div>
	</div>
</template>
