<template name="admin">
	<div class="animated fadeIn admin">
		<div class="ui fluid three item admin menu">
		  <div class="item">
				Username
			</div>
		  <div class="item">
				<div class="ui pointing secondary menu">
			    <a class="active item" data-tab="first">Content</a>
			    <a class="item" data-tab="second">Settings</a>
		    </div>
			</div>
		  <div class="item">
				Buttons
			</div>
		</div>
	  <div class="ui bottom attached active tab segment" data-tab="first">
			{{> editor}}
	  </div>
	  <div class="ui bottom attached tab segment" data-tab="second">
		  Settings
	  </div>
	</div>
</template>
