<template name="admin">
	<div class="animated fadeIn admin">
		{{#autoForm collection='Contents' doc=this class='ui admin form' id='editContent' type='update' validation='keyup'}}
		  {{> editor}}
			{{> settings}}
			<div class="ui admin actions">
			  <button type="submit" class="ui circular massive save icon button">
					<i class="save icon"></i>
			  </button>
				<button type="button" class="ui circular settings icon button">
					<i class="settings icon"></i>
				</button>
			</div>
		{{/autoForm}}
	</div>
</template>
