<template name="editor">
	{{#autoForm collection='Contents' doc=this class='ui edit form' id='editContent' type='update' autosave=autoSaveMode validation='keyup'}}
	  <div class="title field">
			{{> afFieldInput name="title"}}
			{{#if afFieldIsInvalid name='title'}}
	      <span class="negative alert">{{{afFieldMessage name='title'}}}</span>
	    {{/if}}
		</div>
		<div class="sub title field">
		  {{> afFieldInput name="subtitle"}}
		  {{#if afFieldIsInvalid name='subtitle'}}
        <span class="negative alert">{{{afFieldMessage name='subtitle'}}}</span>
      {{/if}}
		</div>
		<section class="ui hero vertical segment">
			{{#if newsletter}}
				<div class="ui two column stackable page grid">
					<div class="content column">
						{{> afFieldInput name="heroTitle"}}
						{{> afFieldInput name="heroContent"}}
						<img class="ui small centered hero image" src="{{heroImage}}">
					</div>
				  <div class="form column">
				  	{{> subscribe}}
				  </div>
			  </div>
		  {{else}}
			  <div class="ui stackable page grid">
				  <div class="content column">
					</div>
				</div>
			{{/if}}
		</section>
		<div class="markdown field">
		  {{> afFieldInput name="content"}}
		</div>
	{{/autoForm}}
</template>
