<template name="editor">
	<div class="ui edit form">
		<div class="title field">
	    <input type="text" name="title" class="edit title" placeholder="Title" value="{{title}}" autofocus />
		</div>
		<div class="sub title field">
	    <input type="text" name="subtitle" class="edit sub title" placeholder="Subtitle" value="{{subtitle}}"/>
		</div>
		<section class="ui hero vertical segment">
			{{#if noNewsletter}}
			  <div class="ui stackable page grid">
					<div class="content column">
						<input type="text" name="herotitle" class="edit hero title" placeholder="Hero Title" value="{{heroTitle}}" />
						<textarea name="herocontent" class="edit hero content" placeholder="Hero content">{{heroContent}}</textarea>
		        <img class="ui small centered hero image" src="{{heroImage}}">
		      </div>
				</div>
		  {{else}}
		    <div class="ui two column stackable page grid">
		      <div class="content column">
						<input type="text" name="herotitle" class="edit hero title" placeholder="Hero Title" value="{{heroTitle}}" />
						<textarea name="herocontent" class="edit hero content" placeholder="Hero content">{{heroContent}}</textarea>
		        <img class="ui small centered hero image" src="{{heroImage}}">
		      </div>
		      <div class="form column">
					  {{> subscribe}}
		      </div>
		    </div>
			{{/if}}
	  </section>
	  <div class="markdown field">
		  <textarea name="edit" class="edit content" placeholder="Write some markdown">{{content}}</textarea>
		</div>
	</div>
</template>
