<template name="settings">
	<form class="ui fluid settings form">
	  <h2 class="ui dividing header">General</h2>
	  <div class="field">
	    <label>Hero Image URL</label>
	    <input type="text" name="heroImage" class="hero image" placeholder="Enter full image url..." value="{{heroImage}}">
	  </div>
		{{#if newsletter}}
		  <h2 class="ui dividing header">Newsletter</h2>
			<div class="inline field">
		    <div class="ui toggle checkbox">
		      <input type="checkbox" name="newsletter" class="newsletter toggle" checked>
		      <label>Enable Newsletter</label>
		    </div>
		  </div>
			<div class="field">
		    <label>Mailchimp API Key</label>
		    <input type="text" name="mailchimpAPI" class="newsletter api" placeholder="Enter Mailchimp API Key..." value="{{mailchimpAPI}}">
		  </div>
			<div class="field">
		    <label>Mailchimp List ID</label>
		    <input type="text" name="mailchimpID" class="newsletter id" placeholder="Enter Mailchimp List ID..." value="{{mailchimpID}}">
		  </div>
		{{/if}}
		<h2 class="ui dividing header">Overlay</h2>
		<div class="inline field">
			<div class="ui toggle checkbox">
				<input type="checkbox" name="newsletter" class="newsletter toggle" value="{{overlay}}">
				<label>Enable Overlay</label>
			</div>
			<div class="grouped fields">
        <label for="alone">When would you like the overlay to trigger?</label>
        <div class="field">
          <div class="ui radio checkbox checked">
            <input type="radio" checked="" name="import">
            <label>When the page loads</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="import">
            <label>After 30 seconds</label>
          </div>
        </div>
			  <div class="field">
				  <div class="ui radio checkbox">
					  <input type="radio" name="import">
					  <label>After 60 seconds</label>
				  </div>
			  </div>
      </div>
		</div>
	</form>
</template>
