@import '../utilities/helpers';
@import '../utilities/variables';

// menu styles

.ui.layout {

	.ui.admin.menu {
	  z-index: 1;
	  border: 0;
	  background: @light;
		box-shadow: none;

		.item {

      &:before {
        background: transparent;
      }

			&.left {
			  padding-left: 1em !important;
				text-align: left;

				.ui.username.dropdown {

					.text {
						text-transform: capitalize;
					}

					.icon {
						margin-left: 0.5em;
					}

					.menu {
						top: 1.8rem;
						left: -1rem;
					  border-radius: 0;
					  border: 0;
						background: @mute-color;

						.item {
							padding: 0.75em 1em !important;
						}
					}
				}
      }

			&.center {

				.logo {
					text-transform: uppercase;
				}
			}

			&.right {
				padding-right: 0.25em !important;
				text-align: right;
			}

			@media (max-width: @phone-width) {
				width: 50%;
			}
    }
  }
}
