@import '../utilities/helpers';
@import '../utilities/variables';

// admin styles

.view {

  .admin {

	  .ui.form {

			.field {

        &.title {
          margin: 1em 0 0;

          &.sub {
            margin: 0 0 1em;
          }

          .title {
            padding: 0;
            border: 0;
            box-shadow: none;
            font-size: @font-size-x-large;
            font-weight: bold;
            text-align: center;

            &.sub {
              color: fade(@dark, 50%);
              font-size: @font-size-larger;
              font-weight: normal;
            }
          }
        }

			  textarea.content {
					max-height: 100vh;
          padding: 0;
          vertical-align: baseline;
          -webkit-appearance: inherit;
          resize: none;
          border: 0;
          -webkit-box-shadow: none;
          box-shadow: none;
        }
      }

      .ui.hero.segment {
        margin: 0 -1em;
        padding: 1em;
      }
    }
  }
}
