<template name="adminWidget">
	<div class="ui admin widget">
	  <a class="ui orange basic mini button {{isActiveRoute regex='admin'}}" href="{{pathFor 'admin'}}">Edit</a>
		<a class="ui green basic mini button {{isActiveRoute regex='home'}}" href="{{pathFor 'home'}}">Preview</a>
		<a class="ui red basic mini logout button">Logout</a>
	</div>
	<!--If user is on /admin/content show this menu-->
	<!--<div class="ui menu">
	  <a class="active item">
	    Username
	  </a>
		<a class="active item">
			Content
		</a>
		<a class="item">
			Settings
		</a>
		<div class="right menu">
		  <a class="item">
		    Cancel
		  </a>
			<a class="item">
				Publish
			</a>
		</div>
	</div>-->
	<!--If user is on /admin/settings show this menu-->
	<!--<div class="ui menu">
		<a class="active item">
			Username
		</a>
		<a class="item">
			Content
		</a>
		<a class="active item">
			Settings
		</a>
		<div class="right menu">
			<a class="item">
				Cancel
			</a>
			<a class="item">
				Save
			</a>
		</div>
	</div>-->
</template>
