<template name="menu">
	<nav class="ui fluid three item fixed admin menu">
		<div class="left dropdown item">
			<div class="ui username dropdown">
		    <div class="text">{{currentUser.username}}</div>
		    <i class="dropdown icon"></i>
		    <div class="menu">
					<div class="logout item">Logout</div>
		    </div>
		  </div>
		</div>
		<div class="center item">
			{{#if notAdmin}}
			  Landing Page Builder
			{{else}}
			  {{> tabsMenu}}
			{{/if}}
		</div>
		<div class="right item">
			{{#if notAdmin}}
		  	<a class="ui basic orange button {{isActiveRoute regex='admin'}}" href="{{pathFor 'admin'}}">Edit</a>
			{{else}}
			  <a class="ui basic red button {{isActiveRoute regex='home'}}" href="{{pathFor 'home'}}">Cancel</a>
			  <a class="ui basic green save button">Save</a>
			{{/if}}
		</div>
	</nav>
</template>
